<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding" style="margin-top: 2cm;">
    <ion-input label="Ingrese su nombre" label-placement="floating" 
    fill="outline" placeholder="Usuario">     </ion-input><br>
    
    <ion-input label="Ingrese su contraseña" label-placement="floating"
     fill="outline" placeholder="Contraseña" type="password" value="">    </ion-input><br>
    <a target="_blank" routerLink="/recuperar" style="margin-bottom: 5mm;" class="ion-padding">Recuperar contraseña</a>


    <ion-button expand="block" routerLink="/home" style="margin-top: 5mm;" class="">Ingresar</ion-button> 
    <ion-button expand="block" routerLink="/home" style="margin-top: 5mm;" class="">Volver</ion-button> 
  </div>


  <!-- <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
  </form> -->

</ion-content>
