<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #012E55; color: #FFFFFF;" color="#012E55">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1 class="ion-padding" style="text-align: center; margin-top: 1cm; font-weight: 500;">Inicio de sesión</h1>
  <hr>

  <div class="ion-padding">
    <form [formGroup]="ingersoUsuariofrm">
      
      <ion-input color="#012E55" formControlName = "nusuario" label="Ingrese usuario" label-placement="floating"
      fill="outline" style="color: #012E55;" placeholder="Usuario" color="#012E55"></ion-input><br>

      <ion-input color="#012E55" formControlName = "password" label="Ingrese contraseña" label-placement="floating"
      fill="outline"  style="color: #012E55;" placeholder="Contraseña" type="password" >    
      </ion-input><br>
      <a routerLink="/recuperar">Recuperar contraseña</a>



      <ion-button expand="block"
       style="margin-top: 5mm;" (click)="IngresarUsuario()" style="background-color: #FBBD1E;" color="#FBBD1E">Ingresar</ion-button> 

      <ion-button expand="block" routerLink="/home" 
       style="margin-top: 5mm;" style="background-color: #FBBD1E;" class="" color="#FBBD1E">Volver</ion-button> 

    </form>
  </div>



</ion-content>

<ion-footer style="background-color: #012E55;">
  <ion-toolbar color="#012E55" style="text-align: center; background-color: #012E55; color: #FFFFFF;">
    <p>TellevoApp</p>
    <p>  © 2023 Duoc UC. Todos los derechos reservados.</p>
    
  </ion-toolbar>
</ion-footer>