<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>Recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1 class="ion-padding" style="text-align: center; margin-top: 2cm; font-weight: 500;">¿Olvidó su contraseña?</h1>

<div style="display: block;" class="ion-padding">
  
  <ion-input label="Ingrese su cuenta" label-placement="floating" 
  fill="outline" placeholder="Usuario"></ion-input><br>

  <ion-button expand="block" routerLink="/home" color="medium">Recuperar</ion-button>

</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
