<ion-header [translucent]="true">
    <ion-toolbar style="background-color: #012E55; color: #FFFFFF;" color="#012E55">
      <ion-title>Detalles</ion-title>
    </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header style="background: #012E55; color: #FFFFFF; margin-bottom:0;">
      <ion-card-title style="color: #FFFFFF;">Conductor</ion-card-title>
      
  </ion-card-header>
  
  <ion-card-content style="background:  #537493; color: #FFFFFF; margin-top: 0mm;">
    <!-- <div *ngFor="let dummy of dummys?.users"> -->
      <br>
      <p style="margin-top: 0mm;">  
        Nombre: {{detalles.firstName}} {{detalles.lastName}} <br>
        Género: {{detalles.gender}} <br>
        Edad: {{detalles.age}}  <br> 
        Vehículo: {{detalles.maidenName}} <br>
        Patente: {{detalles.username}} <br>
        Color vehículo: {{detalles.eyeColor}} <br>
        Distancia de su posición: {{detalles.height}} Km <br>
      </p>
  
      <!-- </div>   -->
      
      
      <ion-button expand="block" routerLink="/solicitar"  
      style="margin-top: 5mm; background: #FBBD1E;" class="" color="#FBBD1E">Solicitar</ion-button> 
      <ion-button expand="block" routerLink="/inicio"  
      style="margin-top: 5mm; background: #FBBD1E;" class="" color="#FBBD1E">Volver</ion-button> 

    </ion-card-content>
  </ion-card>

  

  <ion-footer style="background-color: #012E55;">
    <ion-toolbar color="#012E55" style="text-align: center; background-color: #012E55; color: #FFFFFF;">
      <p>TellevoApp</p>
      <p>  © 2023 Duoc UC. Todos los derechos reservados.</p>
      
    </ion-toolbar>
  </ion-footer>