<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #012E55; color: #FFFFFF;" color="#012E55">
    <ion-title>Recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1 class="ion-padding" style="text-align: center; margin-top: 2cm; font-weight: 500;">¿Olvidó su contraseña?</h1>
  <hr><br>
<div style="display: block;" class="ion-padding">
  
  <ion-input label="Ingrese su cuenta" label-placement="floating" 
  fill="outline"  style="color: #012E55;"  placeholder="Usuario"></ion-input><br>

  <ion-button expand="block" style="background-color: #FBBD1E; color: #FFFFFF;"  routerLink="/home" color="#FBBD1E">Recuperar</ion-button>

</div>
</ion-content>

<ion-footer style="background-color: #012E55;">
  <ion-toolbar color="#012E55" style="text-align: center; background-color: #012E55; color: #FFFFFF;">
    <p>TellevoApp</p>
    <p>  © 2023 Duoc UC. Todos los derechos reservados.</p>
    
  </ion-toolbar>
</ion-footer>