<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar</ion-title>
    </ion-toolbar>
  </ion-header>

<div style="display: block; margin-top: 2cm;" class="ion-padding">
  
  <ion-input label="Ingrese su cuenta" label-placement="floating" 
  fill="outline" placeholder="Usuario"></ion-input><br>

  <ion-button expand="block" routerLink="/home">Recuperar</ion-button>

</div>
</ion-content>
