<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title  >Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <div style= "margin-top:1cm; margin-bottom:1cm; text-align: center; font-weight: 900;" class="ion-padding" >
      <ion-label style="text-align: center;">
        ¡Bienvenido, {{(nombreUsuario$ | async)}} !
      </ion-label>
      <ion-button expand="block" routerLink="/login" 
       style="margin-top: 5mm;" class="" color="medium">Volver</ion-button> 
    </div>
    
    <!-- Conductores -->
    
    
    <ion-card *ngFor="let dummy of dummys?.users">
      <ion-card-header>
        <ion-card-title>Conductores</ion-card-title>
        
      </ion-card-header>
      
      <ion-card-content>
        <!-- <div *ngFor="let dummy of dummys?.users"> -->
          <p>
            Nombre: {{dummy.firstName}} {{dummy.lastName}} <br>
            Edad: {{dummy.age}}  <br> Patente: {{dummy.username}}
            <ion-button expand="block" style="margin-top: 5mm;" class="" color="medium" 
            (click)="IrADetalles(dummy)">Detalles</ion-button>  
          </p>
          <!-- </div> -->
        </ion-card-content>
  </ion-card>
  
</ion-content>


<!-- Footer -->
<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
