<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="ion-padding" style="text-align: center; margin-top: 1cm; font-weight: 500;">Registro de usuario</h1>
  <ion-button expand="block" routerLink="/home" color ="medium" >Volver</ion-button> 

</ion-content>


<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>