<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #012E55; color: #FFFFFF;" color="#012E55">
    <ion-title  >Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <div style= "margin-top:1cm; margin-bottom:1.5cm; text-align: center; font-weight: 900;" class="ion-padding" >
      <ion-label style="text-align: center;">
        ¡Bienvenido, {{(nombreUsuario$ | async)}} !
      </ion-label>
          <ion-button expand="block" routerLink="/home" 
          style="margin-top: 10mm;" style="background-color: #FBBD1E; color: #FFFFFF;" class="" color="#FBBD1E">Cerrar sesión
          </ion-button> 

    </div>
    
    <!-- Conductores -->
    

    <div class="ion-padding" style="text-align: center; margin-top: 1cm;">
      <h1 style="font-weight: 500;">Conductores reconocidos nuestra empresa</h1>
    </div>
    <hr>


    <ion-card *ngFor="let dummy of dummys?.users" style="margin-top: 10mm;">
      <ion-card-header style="background: #012E55; color: #FFFFFF; margin-bottom:0;">
        <ion-card-title style="color: #FFFFFF;">Nombre: {{dummy.firstName}} {{dummy.lastName}} </ion-card-title>
        
    </ion-card-header>
      
      <ion-card-content style="background:  #537493; color: #FFFFFF; margin-bottom: 0mm;">
        <!-- <div *ngFor="let dummy of dummys?.users"> -->
          <p style="margin-bottom: 4mm;">
            <br>
            Género: {{dummy.gender}} <br>
            Edad: {{dummy.age}}  <br> 
            Vehículo: {{dummy.maidenName}} <br>
            Patente: {{dummy.username}} <br>
          </p>
          <ion-button expand="block" style="margin-top: 5mm;" style="color: #FFFFFF; background-color: #FBBD1E;" class="" color="#FBBD1E" 
          (click)="IrADetalles(dummy)">Detalles</ion-button>  
          <!-- </div> -->
        </ion-card-content>
  </ion-card>
  
</ion-content>


<!-- Footer -->
<ion-footer style="background-color: #012E55;">
  <ion-toolbar color="#012E55" style="text-align: center; background-color: #012E55; color: #FFFFFF;">
    <p>TellevoApp</p>
    <p>  © 2023 Duoc UC. Todos los derechos reservados.</p>
    
  </ion-toolbar>
</ion-footer>
